.img-hover-zoom {
  height: 500px;
    width: 400px;
  overflow: hidden; 
  
}


.img-hover-zoom img {
  transition: transform .5s ease;
}


.img-hover-zoom:hover img {
  transform: scale(1.5);
}