.logo { 
height: 60px;
}
.kapsayici{
	background-color:#f4f9f9; 
	
}
.nav-link  { 
color: #184d47;
font-weight: bold;
font-family: 'Gothic A1', sans-serif;


} 
.nav-item {
	margin-top: 15px; 
	transition: all 0.5s easy ;
	} 
.nav-item:hover{
	background-color:#184d47 ;
padding-left: 20px;
	} 
	.nav-link:hover {
		color: #cfdac8;
} 
} 

.icon-bar {
  position: fixed;
  top: 10%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.icon-bar a {
  display: box;
  text-align: left;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 15px;
}


.icon-bar a:hover {
  background-color: #;
}

.img-hover-zoom {
  height: 500px;
    width: 450px;
  overflow: hidden; 
  
}


.img-hover-zoom img {
  transition: transform .5s ease;
}


.img-hover-zoom:hover img {
  transform: scale(1.5);
}

/* Style buttons */
.btn {
	background-color: DodgerBlue; /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 12px 16px; /* Some padding */
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
	width: 100%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}


/* Set a style for all buttons */
button1 {
	background-color: #04AA6D;
	text-align: left;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}


.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
}

.title {
	color: grey;
	font-size: 18px;
}

button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

a {
	text-decoration: none;
	font-size: 22px;
	color: black;
}

	button:hover, a:hover {
		opacity: 0.7;
	}
	


